@import "mixin.scss";

body {
    background-color:$s-d;
}
aside{
    @include abs(3rem,auto,0,-15.1rem);
    @include wh(15rem,auto);
    @include col(0,0);
    background: $s-f;
    border-left: $bord $s-blue;
    transition: 0.3s ease-out;
    z-index: 100;   
}
aside img {
    @include wh(1.3rem,1.3rem);
    margin-right: 0.5rem;
}
aside a {
    @include font(1rem,$s-blue);
    @include row(center,space-between);
    @include pdg(0.5rem,0.5rem,0.5rem,0.5rem);
    border-bottom: 0.1rem solid $s-a;
}
#sidemenu{
    display:none;
}
#sidemenu:checked+aside{
    left:0;
}
// #sidemenu:checked~main{
//     margin-right:-50vw;
//     padding-left:50vw;
//   }
.m-nav {
    @include wh(100%,3rem);
    background-color:$s-blue;
}
.m-nav label {
    @include abs(0.5rem,auto,auto,0.5rem);
    @include wh(2.5rem,2.5rem);
    @include bg(35rem,65rem,0,-0.2rem);
}
.m-list {
    position: relative;
    @include mg(1.2rem,5%,0,5%);
    @include pdg(1.2rem,0,1.2rem,0);
    @include wh(90%,auto);
    @include font(1.2rem,$s-a);
    @include row(center,center);
    border: 0.06vw solid $s-a;
    background-color: $s-f;
}
.list-ico {
    @include abs(0.5rem,0,auto,auto);
    @include wh(1.2rem,3rem);
    @include bg(15rem,36rem,0,-1.3rem);
}
.m-group {
    // position: relative;
    @include mg(1.2rem,5%,1.2rem,5%);
    @include wh(90%,auto);
    @include font(1rem,$s-a);
    @include col(center,0);
    border: 0.06rem solid $s-a;
    background-color: $s-f;
}
.group-top {
    @include pdg(1rem,0,1rem,0);
    @include wh(100%,auto);
    @include font(1.2rem,$s-e);
    text-align: center;
    border-bottom: 0.06rem solid $s-e;
}
.one {
    @include pdg(1rem,0,1rem,0);
    @include col(center,space-around);
    height: 45vh;
}
.one div {
    @include col(center,space-around);
    @include wh(75%,auto);
}
/* 设置容器大小*/
.container {
    position: relative;
     @include wh(100%,100%);
     overflow: hidden;
  }
  /* 设置input位置 */
.container input {
    @include abs(auto,auto,0.2rem,auto);
    z-index: 23;
  }
  /* 设置图片大小，透明度为0 */
.wrap li {
    display: none;
    @include wh(100%,100%);
    @include none;
     text-align: center;
  }
  /* 默认选中第一张，根据选中的input，展示对应的图片 */
#pic1:checked ~ .wrap li:nth-of-type(1),
#pic2:checked ~ .wrap li:nth-of-type(2) {
    display: block;
  }
.arrow {
    position: absolute;
}
.rgt {
    top:50%;
    right: 10%;
}
.lf {
    top:50%;
    left: 4%;
}
.arrow label {
      display: none;
}
.u-btn {
    @include pdg(1.5vh,0,1.5vh,0);
    @include wh(75%,auto);
    @include font(1.2rem,$s-f);
    @include none;
	background-color: $s-blue;
}
.u-btn2 {
    @include mg(0,auto,0.5rem,auto);
    @include pdg(1.5vh,0,1.5vh,0);
    @include wh(100%,auto);
    @include font(1.2rem,$s-f);
    @include none;
	background-color: $s-blue;
}
.u-ico1 {
    @include wh(1.2rem,2.5rem);
    @include bg(15rem,35rem, -0.1rem,-4rem);
    cursor: pointer;
}
.u-ico2 {
   
    @include wh(1.2rem,2.5rem);
    @include bg(15rem,35rem, 0,-3.85rem);
    transform:rotate(180deg);
    cursor: pointer;
}
  /* 根据选中的input设置需要展示哪个右边箭头 */
  #pic1:checked ~ .arrow label:nth-of-type(2),
  #pic2:checked ~ .arrow label:nth-of-type(1){
    display: block;
  }
.wrap {
    @include wh(100%,100%);
    @include row(center,center);
    transition:all 1s;
}
// // 原点切换
input[ type="radio"] {
    display: none;
}
input[name="pic"]+label::before {
    content: "\a0"; /*不换行空格*/
    @include abs(auto,auto,0.1rem,auto);
    @include wh(0.5rem,0.5rem);
    border-radius: 50%;
    background: $s-d;
    cursor: pointer;
}
input[name="pic"]:checked+label::before {
    content: "\a0"; /*不换行空格*/
    @include abs(auto,auto,0.1rem,auto);
    @include wh(0.5rem,0.5rem);
    border-radius: 50%;
    background: $s-blue;
    cursor: pointer;
}
.container label[for^="pic"]{
    @include abs(auto,auto,0,auto);
    @include wh(0.5rem,0.5rem);
    border-radius: 50%;
    background: $s-f;
    cursor: pointer;
}
.container label[for="pic1"]{
    left: 47%;
}
.container label[for="pic2"]{
    left: 53%;
}


