@charset "UTF-8";
body {
  background-color: #dadada;
}

aside {
  position: absolute;
  top: 3rem;
  right: auto;
  bottom: 0;
  left: -15.1rem;
  width: 15rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: 0;
  justify-content: 0;
  background: #fff;
  border-left: 0.1rem solid #01bad8;
  transition: 0.3s ease-out;
  z-index: 100;
}

aside img {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.5rem;
}

aside a {
  font-size: 1rem;
  color: #01bad8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: 0.1rem solid #a0a0a0;
}

#sidemenu {
  display: none;
}

#sidemenu:checked + aside {
  left: 0;
}

.m-nav {
  width: 100%;
  height: 3rem;
  background-color: #01bad8;
}

.m-nav label {
  position: absolute;
  top: 0.5rem;
  right: auto;
  bottom: auto;
  left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: url("img/icon.png") no-repeat 0 -0.2rem;
  background-size: 35rem 65rem;
}

.m-list {
  position: relative;
  margin-top: 1.2rem;
  margin-left: 5%;
  margin-bottom: 0;
  margin-right: 5%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-right: 0;
  padding-left: 0;
  width: 90%;
  height: auto;
  font-size: 1.2rem;
  color: #a0a0a0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.06vw solid #a0a0a0;
  background-color: #fff;
}

.list-ico {
  position: absolute;
  top: 0.5rem;
  right: 0;
  bottom: auto;
  left: auto;
  width: 1.2rem;
  height: 3rem;
  background: url("img/icon.png") no-repeat 0 -1.3rem;
  background-size: 15rem 36rem;
}

.m-group {
  margin-top: 1.2rem;
  margin-left: 5%;
  margin-bottom: 1.2rem;
  margin-right: 5%;
  width: 90%;
  height: auto;
  font-size: 1rem;
  color: #a0a0a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: 0;
  border: 0.06rem solid #a0a0a0;
  background-color: #fff;
}

.group-top {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  color: #e0bb02;
  text-align: center;
  border-bottom: 0.06rem solid #e0bb02;
}

.one {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 45vh;
}

.one div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  height: auto;
}

/* 设置容器大小*/
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 设置input位置 */
.container input {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0.2rem;
  left: auto;
  z-index: 23;
}

/* 设置图片大小，透明度为0 */
.wrap li {
  display: none;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

/* 默认选中第一张，根据选中的input，展示对应的图片 */
#pic1:checked ~ .wrap li:nth-of-type(1),
#pic2:checked ~ .wrap li:nth-of-type(2) {
  display: block;
}

.arrow {
  position: absolute;
}

.rgt {
  top: 50%;
  right: 10%;
}

.lf {
  top: 50%;
  left: 4%;
}

.arrow label {
  display: none;
}

.u-btn {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-right: 0;
  padding-left: 0;
  width: 75%;
  height: auto;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  background-color: #01bad8;
}

.u-btn2 {
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0.5rem;
  margin-right: auto;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  background-color: #01bad8;
}

.u-ico1 {
  width: 1.2rem;
  height: 2.5rem;
  background: url("img/icon.png") no-repeat -0.1rem -4rem;
  background-size: 15rem 35rem;
  cursor: pointer;
}

.u-ico2 {
  width: 1.2rem;
  height: 2.5rem;
  background: url("img/icon.png") no-repeat 0 -3.85rem;
  background-size: 15rem 35rem;
  transform: rotate(180deg);
  cursor: pointer;
}

/* 根据选中的input设置需要展示哪个右边箭头 */
#pic1:checked ~ .arrow label:nth-of-type(2),
#pic2:checked ~ .arrow label:nth-of-type(1) {
  display: block;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

input[type="radio"] {
  display: none;
}

input[name="pic"] + label::before {
  content: "\a0";
  /*不换行空格*/
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0.1rem;
  left: auto;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #dadada;
  cursor: pointer;
}

input[name="pic"]:checked + label::before {
  content: "\a0";
  /*不换行空格*/
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0.1rem;
  left: auto;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #01bad8;
  cursor: pointer;
}

.container label[for^="pic"] {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: auto;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.container label[for="pic1"] {
  left: 47%;
}

.container label[for="pic2"] {
  left: 53%;
}
