@import "mixin.scss";

body {
    background-color:$s-d;
}
.m-nav {
    position: relative;
    @include wh(100%,3rem);
    background-color:$s-blue;
}
.nav-ico {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    @include wh(2rem,2rem);
    background: url(img/06.png) no-repeat;
    background-size: 100% 100%;
}
.list {
    @include mg(0.5rem,0.5rem,0.5rem,0.5rem);
    @include font(1rem,black);
    line-height:2rem;
    text-align: center;
    background-color: #fff;
}
.peo {
    @include mg(0.5rem,0.5rem,0.5rem,0.5rem);
    height: 32.5vh;
    background-color: #fff;
}
.peo-a {
    float: left;
    line-height: 2rem;
    @include mg(0.5rem,auto,0.5rem,auto);
    @include wh(50%,auto);
    @include font(1rem,black);
}
.peo img {
    @include mg(auto,0.5rem,auto,0.5rem);
    @include wh(2rem,2rem);
}
.list-more {
    @include mg(0.5rem,0.5rem,0.5rem,0.5rem);
    height: 15.5vh;
    background-color: #fff;
}
.num {
    @extend .list-more;
    @include font(0.9rem,black);
    @include col(center,space-around);
    @include pdg(0.5rem,auto,auto,auto);
}
.list-cont {
    @include font(0.9rem,#fcb900);
}
.input1 {
    @include none;
    @include wh(2rem,2rem);
    @include font(1rem,#fcb900);
    text-align: center;
    border-radius: 0.3rem;
    background-color: $s-d;
}
// 清处文本框上下箭头
.input1::-webkit-outer-spin-button {
    -webkit-appearance: none!important;
 }
 .input1::-webkit-inner-spin-button {
    -webkit-appearance: none;
 }
input[type=range] {
    -webkit-appearance: none;/*清除系统默认样式*/
    width: 70%;
    height: 0.2rem;/*横条的高度*/
    background: #fab344;
    background-size: 100%;
    outline: none;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1rem;
    width: 1.5rem;
    background: url(img/014.png) no-repeat; 
    background-size: 100%;
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
.sroll {
    width: 70%;
    @include row(center,space-around);
}
.sro-lf {
    height: 1rem;
    width: 1rem;
    background: url(img/015.png) no-repeat; 
    background-size: 100%;
    border: 0.02rem solid rgba(128, 128, 128,0.5);
    box-shadow: 0 .125em .125em #3b4547;
    outline: none;
}
.sro-rgt {
    height: 1rem;
    width: 1rem;
    background: url(img/016.png) no-repeat; 
    background-size: 100%;
    border: 0.02rem solid rgba(128, 128, 128,0.5);
    box-shadow: 0 .125em .125em #3b4547;
    outline: none;
}
.btn {
    @include mg(0.5rem,0.5rem,0,0.5rem);
    line-height: 2.5rem;
    text-align: center;
    background-color: #fcb900;
    @include font(1.2rem,#fff);
}
