@import "mixin.scss";

body {
    background-color:$s-blue;
}
.m-nav {
    position: relative;
    @include wh(100%,3rem);
    @include font(1.5rem,#fff);
    text-align: center;
    line-height: 3rem;
    background-color:$s-blue;
    border-bottom: .05rem solid rgba($color: #fff, $alpha: 0.3);
}
.close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    @include wh(2rem,2rem);
    background: url(img/012.png) no-repeat;
    background-size: 100% 100%;
}
.nav-ico {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    @include wh(2rem,2rem);
    background: url(img/06.png) no-repeat;
    background-size: 100% 100%;
}
.main {
    position: relative;
    @include wh(70%,60vh);
    @include mg(1rem,auto,auto,auto);
}
.main-by {
    position: absolute;
    top: 3.4vw;
    @include wh(98%,60vh);
    @include mg(0,auto,auto,auto);
    @include col(center,center);
    background: #ffdf85;
    border: 1vw solid #fff;
}
.main-num {
    position: absolute;
    top:0;
    left: 46.5%;
    @include wh(7vw,7vw);
    @include font(5vw,red);
    background: #fff;
    text-align: center;
    line-height: 7vw;
    border-radius: 50%;
    border: 0.05rem solid #ffdf85;
    z-index: 22;
}
.main-ico {
    @include wh(10rem,10rem);
    background: url(img/011.png) no-repeat;
    background-size: 100%;
}
.main-dbl {
    position: absolute;
    top:10vh;
    margin: 0 auto ;
    @include col(center,center);
}
.main-ico2 {
    @include wh(6rem,6rem);
    background: url(img/013.png) no-repeat;
    background-size: 100%;
}
h3 {
    @include font(1.2rem,$s-blue);
    text-align: center;
}
.btn {
    @include mg(14vh,14%,auto,14%);
    line-height: 2.5rem;
    text-align: center;
    background-color: #fcb900;
    @include font(1.3rem,#fff);
}
