@import "mixin.scss";

body {
    background-color:$s-blue;
}
.m-nav {
    position: fixed;
    top:0;
    @include wh(100%,3rem);
    @include font(1.5rem,#fff);
    text-align: center;
    line-height: 3rem;
    background-color:$s-blue;
    border-bottom: .1rem solid rgba($color: #fff, $alpha: 0.3);
    z-index: 1;
}
.close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    @include wh(2rem,2rem);
    background: url(img/012.png) no-repeat;
    background-size: 100% 100%;
}
.nav-ico {
    position: absolute;
    top: .5rem;
    left: .5rem;
    @include wh(2rem,2rem);
    background: url(img/06.png) no-repeat;
    background-size: 100% 100%;
}
.main {
    @include wh(100%,auto);
    padding: 3rem 0 6rem;
    display: flex;
    flex-wrap: wrap;
    z-index: -1;
}

.btn {
    position: fixed;
    bottom: 1rem;
    left: 13%;
    width: 74%;
    line-height: 3rem;
    text-align: center;
    background-color: #fcb900;
    @include font(2rem,#fff);
    z-index: 1;
}
.div {
    position: relative;
    @include wh(24%,24vw);
    @include mg(5%,4.15%,5%,4.15%);
    border: 0.5vw solid #fff;
}
.div1 {
    @include wh(100%,19vw);
    line-height: 19vw;
    text-align: center;
    @include font(5.5vw,#000);
    background-color: #ffd375;
}
.div2 {
    @include wh(100%,5vw);
    line-height: 5vw;
    text-align: center;
    @include font(4vw,#fff);
    background-color: #077c38;
}
.div3 {
    position: absolute;
    top: 25.5vw;
    left: 50%;
    transform: translate(-50%,0);
    @include wh(5vw,5vw);
    background: url(img/018.png) no-repeat center;
    background-size: 100% 100%;
}
.cont1 {
    position: fixed;
    top: 5rem;
    @include wh(100%,3rem);
    @include font(1rem,black);
    padding-left: 2rem;
    line-height: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
}
.cont2 {
    position: fixed;
    top: 8rem;
    @include wh(auto,2.5rem);
    @include font(0.85rem,#fff);
    padding-left: 2rem;
    line-height: 2.5rem;
}
.ico {
    position: absolute;
    top: -.02rem;
    left: 2rem;
    @include wh(0,0);
    border-right: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-top: 0.8rem solid rgba(255, 255, 255, 0.5);
}