$blue: rgba(35, 168, 231,1);
$gray: #e6e6e6;
$black: black;
$color: #fff;
$rgba: rgba(158,158,158,1);
$font: 1.5rem;
$heigth: 3rem;
$radius: 0.5rem;
$margin: 1rem;
$padding: 1rem;
$si: 0;
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $heigth;
    font-size: $font - 0.2rem;
    background-color: $blue;  
}
body {
    color: $color;
    margin: $margin*0;
    padding: $padding*0;
    background-color: $gray;
}
header {
    @include flex;
    margin-bottom: $margin*0.7; 
    img {
        position: absolute;
        left: $margin;
        height:$heigth - 1rem;
        width: $heigth - 1rem;
    }
}
main {
    form {
        height: $heigth*2.5;
        div{
            display: flex;
            align-items: center;
            margin-bottom: $margin*0.7;
            background-color: $color;
            img {
                width: $heigth+1rem;
                height: $heigth;
            }
            input {
                height: $heigth - 2rem;
                width: 30%;
                outline: none;
                border: none;
            }
            input::placeholder {
                color: $gray;
            }
        }
    }
    .btn {
        @include flex;
        margin: 0 $margin - 0.5rem;
        height: $heigth*1.2;
        justify-content: center;
        border-radius: $radius;
    }
    .demo {
        @extend .btn;
        justify-content: space-between;
        background-color: $gray;
        height: $heigth - 1rem;
        a{
            font-size: $font - 0.6rem;
            color: $rgba;
            text-decoration: none;
        }    
    }
} 
footer {
    position: fixed;
    bottom: 10%;
    left: 10%;
    right: 10%;
    margin: 30% auto 0;
    width: 80%;
    .ft-caption {
       display: flex;
       align-items: center;
       justify-content: space-around;
       .caption-left {
           height: $heigth*0.01;
           width: 30%;
           background-color: rgba(158, 158, 158,0.2);
       }
       .caption-right {
           @extend .caption-left;
           background-color: $rgba;
       }
       .caption-content {
           text-align: center;
           color: $rgba;
           font-size: $font - 0.7rem; 
       }
    }
    .ft-icon {
        @extend .ft-caption;
        width: 100%;
        margin-top: 10%;
        div {
            @extend .ft-caption;
            flex-direction: column;
            color: $black;
            font-size: $font - 0.7rem;
            img {
                padding-bottom: $padding*0.5;
            }
        }
    }
} 


