@charset "UTF-8";
body, ul {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3rem;
  background: #68cdd5;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div .bin-lf, header div .bin-rgt {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: -0.3rem;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  border-radius: 0.3rem;
  background-color: #63a5ae;
}

header div .bin-rgt {
  margin-top: 0;
  margin-left: -0.3rem;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 1rem;
  color: #68cdd5;
  background-color: #fff;
}

header .bin-ico {
  position: absolute;
  right: 0.5rem;
  width: 1.86rem;
  height: 1.86rem;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  background: url("icon.png") no-repeat;
  background-position: -1.686rem -1.686rem;
}

.select {
  position: fixed;
  top: 3rem;
  width: 100%;
  border-bottom: 0.05rem solid #bdbdbd;
  background-color: #fff;
}

.select .ul, .select .ul .li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  height: 3rem;
}

.select .ul .li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1rem;
  color: #bdbdbd;
  border-left: 0.05rem solid #bdbdbd;
  border-right: 0.05rem solid #bdbdbd;
  -o-border-image: linear-gradient(#fafbfb, #bdbdbd, #fafbfb) 1 1 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#fafbfb), color-stop(#bdbdbd), to(#fafbfb)) 1 1 1;
     border-image: linear-gradient(#fafbfb, #bdbdbd, #fafbfb) 1 1 1;
}

.select .ul .li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.select .ul .li div {
  width: 0.6rem;
  height: 0.6rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.6rem;
  padding-left: 0;
  background: url("icon.png") no-repeat;
  background-position: 0 -5.4rem;
}

.select .ul .li .ul-none {
  position: absolute;
  top: 3rem;
  display: none;
  min-width: 100%;
}

.select .ul .li .ul-none .li-none {
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
  border: 0.03rem solid #bdbdbd;
  text-align: center;
}

.select .li:hover .ul-none {
  display: block;
  color: black;
  background-color: #68cdd5;
}

.select .ul-none:hover .li-none {
  background-color: #63a5ae;
  font-weight: bold;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6rem;
  padding-bottom: 3.6rem;
  padding-right: 0;
  padding-left: 0;
}

main .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.05rem solid #bdbdbd;
}

main .main .main-lf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: 0;
      -ms-flex-align: 0;
          align-items: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .main .main-lf .main-lf-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0;
  padding-left: 0;
}

main .main .main-lf .main-lf-top .lf-top-ico {
  background: url("icon.png") no-repeat;
  background-position: -1.74rem -3.5rem;
  width: 1.2rem;
  height: 1.1rem;
  margin-top: 0;
  margin-left: 0.4rem;
  margin-bottom: 0;
  margin-right: 0;
}

main .main .main-lf .main-lf-top .lf-top-day {
  font-size: 1rem;
  color: #bdbdbd;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

main .main .main-lf .main-lf-center {
  display: block;
  font-size: 1rem;
  color: black;
  margin-top: 0;
  margin-left: 2rem;
  margin-bottom: 0;
  margin-right: 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0;
  padding-left: 0;
}

main .main .main-lf .main-lf-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0;
  padding-left: 0;
}

main .main .main-lf .main-lf-bottom .lf-bottom-ico {
  width: 1.2rem;
  height: 1rem;
  margin-top: 0;
  margin-left: 0.4rem;
  margin-bottom: 0;
  margin-right: 0;
  background: url("icon.png") no-repeat;
  background-position: 0.2rem -3.5rem;
}

main .main .main-lf .main-lf-bottom .lf-bottom-content {
  font-size: 1rem;
  color: #bdbdbd;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

main .main .main-lf .main-lf-center:hover {
  width: auto;
}

@media screen and (max-width: 400px) {
  main .main .main-lf .main-lf-center {
    width: 8rem;
    overflow: hidden;
    /* 超出宽度部分的隐藏*/
    white-space: nowrap;
    /*文字不换行*/
    text-overflow: ellipsis;
    /*超出则...代替*/
  }
}

main .main .main-rgt {
  font-size: 1rem;
  color: red;
}

main .main .main-rgt-demo {
  font-size: 1.3rem;
  color: #68cdd5;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0.4rem;
  padding-left: 0;
}

footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3.6rem;
  background-color: #e5ebec;
}

footer .ft-lf {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #e5ebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .ft-lf a {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e5ebec;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

footer .ft-lf a .lf-ico {
  background: url("icon.png") no-repeat;
  background-position: 0 0;
  width: 1.86rem;
  height: 1.86rem;
}

footer .ft-lf a .lf-content {
  font-size: 0.7rem;
  color: #68cdd5;
}

footer .ft-center {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background-color: #e5ebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .ft-center button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.15rem;
  height: 3.15rem;
  background-color: #68cdd5;
  border-radius: 3rem;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

footer .ft-center button span {
  background: url("icon.png") no-repeat;
  background-position: 0.24rem -1.7rem;
  width: 1.86rem;
  height: 1.86rem;
}

footer .ft-rgt {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: #e5ebec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .ft-rgt button {
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e5ebec;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

footer .ft-rgt button .rgt-ico {
  background: url("icon.png") no-repeat;
  background-position: -1.75rem 0.06rem;
  width: 1.86rem;
  height: 1.86rem;
}

footer .ft-rgt button .fgt-content {
  font-size: 0.7rem;
  color: #bdbdbd;
}
/*# sourceMappingURL=task12-2.css.map */