body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  color: #fff;
  position: fixed;
  top: 0;
  background-color: #68cdd5;
}

header a {
  position: absolute;
  left: 1rem;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-right: 0;
  padding-left: 0;
}

main .main-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 12rem;
  background: url(task12-1.png) no-repeat;
  background-size: 140%;
}

main .main-bg img {
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 0;
}

main .main-bg ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 1rem;
}

main .main-bg ul li {
  font-size: 0.8rem;
  color: #fff;
  list-style: none;
}

main .main-bg ul li img {
  width: 1rem;
  height: 1.5rem;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}

main .main-list, main .main-list-one, main .main-list-two, main .main-list-four, main .main-list-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1rem;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
  border-bottom: 0.05rem #bdbdbd solid;
  width: 100%;
}

main .main-list span, main .main-list-one span, main .main-list-two span, main .main-list-four span, main .main-list-three span {
  color: #68cdd5;
}

main .main-list-one, main .main-list-two, main .main-list-four, main .main-list-three {
  width: 95%;
  margin: 0 auto;
}

main .main-list-one img, main .main-list-two img, main .main-list-four img, main .main-list-three img {
  width: 1rem;
  height: 1rem;
}

main .main-list-two, main .main-list-four {
  font-size: 1rem;
  color: black;
}

main .main-list-two span, main .main-list-four span {
  font-size: 1rem;
  color: #bdbdbd;
}

main .main-list-three {
  font-size: 1rem;
  color: red;
}

main .main-list-three span {
  font-size: 1rem;
  color: #bdbdbd;
}

main .main-list-four span {
  font-size: 1rem;
  color: #bdbdbd;
  width: 6rem;
}

main .main-list-four .list-demo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
}

footer .ft-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 3rem;
  font-size: 1.2rem;
  color: #68cdd5;
  margin-top: auto;
  margin-left: 6%;
  margin-bottom: auto;
  margin-right: 3%;
  border: 0.05rem solid #68cdd5;
  border-radius: 0.3rem;
}

footer .ft-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  margin-left: 3%;
  margin-bottom: auto;
  margin-right: 6%;
  width: 40%;
  height: 3rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 0.3rem;
  background-color: #68cdd5;
}
/*# sourceMappingURL=task12-1.css.map */