@import "mixin.scss";

.g-hd {
        @include fixed(0,auto);
        @include wh(100%,auto);
        @include row(center,space-between);
        @include font(1.5rem,$s-f);
        background-color:$s-blue;
        border-bottom: $bord $rgb;
    }
.hd-btn-lf {
    @include wh(3.5rem,3.5rem);
    @include bg(30rem,60rem,0,-38rem);
	@include none;
}
.hd-btn-rgt {
    @include wh(3.5rem,3.5rem);
    @include bg(30rem,58rem,1rem,-33.3rem);
	@include none;
}
.g-main {
    @include col(center,center);
    @include pdg(3.5rem,0,0,0);
    background-color:$s-blue;
}
.main-bg {
    @include wh(17rem,12rem);
    @include bg(24rem,50rem,0,-34.5rem);
}
.main-list {
    @include font(1.5rem,$s-e);
    @include wh(80%,auto);
}
.main-tb {
    @include mg(1rem,0,0,0);
    @include wh(80%,auto);
}
.main-tb tr {
    @include font(1rem,$s-f);
    @include row(center,space-between);
}
.main-day {
    @include wh(100%,auto);
    @include col(0,space-between);
    background: $s-f;
	border-bottom: $bord $s-d;
}
.day-top {
    @include row(center,space-between);
    @include font(1.5rem,$s-black);
    @include pdg(0,10%,1rem,10%);
}
.day-top-time {
    @include font(0.8rem,$s-d);
}
.day-top-content {
    @include font(1rem,$s-d);
    @include pdg(0,10%,1rem,10%);
}
.g-ft {
   @include fixed(auto,0);
   @include wh(100%,auto);
   @include row(center,space-between);
   background-color: $s-bl;
}
.ft-btn1 {
    @include none;
    @include wh(40%,4rem);
    @include rds(0.5rem);
    @include mg(1rem,auto,1rem,5%);
    background: $s-r;
}
.ft-btn1 a {
    @include font(1.5rem,$s-f);
}
.ft-btn2 {
    @include none;
    @include font(1.5rem,$s-f);
    @include wh(40%,4rem);
    @include rds(0.5rem);
    @include mg(1rem,5%,1rem,auto);
    background: $s-e;
}