$s-r: red;
$s-black: black;
$s-f: #fff;
$s-e: #e0bb02;
$s-d: #dadada;
$s-blue: #01bad8;
$s-bl: rgba(1,186,216,0.4);
$s-bl2:rgb(12, 88, 100);
$s-a: #a0a0a0;
$rgb: rgba(255,255,255,0.3);
$bord: 0.1rem solid;
@mixin none {
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}
@mixin fixed($top,$bottom) {
    position: fixed;
    top: $top;
    bottom: $bottom;
}
@mixin abs($top,$right,$bottom,$left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin rds($rds) {
    border-radius: $rds;
}
@mixin pdg($top,$right,$bottom,$left) {
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
    padding-left: $left;
}
@mixin mg($top,$right,$bottom,$left) {
    margin-top: $top;
    margin-left: $left;
    margin-bottom: $bottom;
    margin-right: $right;
}
@mixin row($center,$f-s) {
    display: flex;
    align-items: $center;
    justify-content: $f-s;
}
@mixin col($center,$f-s) {
    display: flex;
    flex-direction: column;
    align-items: $center;
    justify-content: $f-s;
}
@mixin font($font,$black) {
    font-size: $font;
    color: $black;
}
@mixin wh($width,$weight) {
    width: $width;
    height: $weight;
}
@mixin bg($x,$y,$m,$n) {
    background: url("img/icon.png") no-repeat $m $n;
    background-size: $x $y;
}