 body,
 ul {
	 color:#ffffff;
	 margin: 0; 
	 padding: 0;
}
 ul {
 	 position: relative;
 	 left: 105px;
 	 bottom: 68px;
 	 list-style: none;
 	 width:145px;
 }
 header {
 	 display: flex;
 	 align-items: center;
	 background-color:#68cdd5;
	 text-align: center; 
	 padding-top: 12px;
	 padding-bottom: 12px;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 1;
}
 footer {
 	 display: flex;
 	 position: fixed;
 	 bottom: 0;
 	 width: 100%;
 	 background-color: #ffffff; 
 	 font-size: 20px;
 	 z-index: 1;
 }
 .header1 { 
     font-size: 35px; 
     position:absolute;
	 left: 10px;
	 top: 1px;
}
 .header2 {
	 flex: 1;
	 min-width: 0;
	 font-size: 20px;
}
 .footer1 {
 	 flex: 1;
 	 text-align: center;
 	 color: #68cdd5;
 	 background-color: #ffffff; 
 	 border: 2px solid #68cdd5;
 	 border-radius: 7px;
 	 margin: 8px;
 	 margin-right: 4px;
 	 padding-top: 14px;
 	 padding-bottom: 14px; 
 }
 .footer2 {
 	 flex: 1;
 	 margin: 8px; 
 	 margin-left: 4px;
 	 padding-top: 14px;
 	 padding-bottom: 14px; 
 	 background-color: #68cdd5;
 	 text-align: center;
 	 border-radius: 7px;
 }

 .demo {
 	 overflow-y: auto;/*滚动条上下自适应*/
 	 display: flex;
 	 display: -webkit-flex;/*-webkit是苹果浏览器主核*/
 	 flex-direction: column;/*主轴为垂直方向，起点在上沿*/
 	 margin-top: 50.4px;
 	 margin-bottom: 75px;
 }
 .demo1 {
	 background-image: url("task5-5.png");
	 background-size: 140%;
	 background-repeat: no-repeat;
	 background-position: top center;
 	 padding-top: 50px;
 	 padding-bottom: 50px;
 	 padding-left: 18px;
 	 height: 80px;
 }
 .demo2 {
 	 display: flex;
	 align-items: center;
 	 color: black;
 	 font-size: 15px;
 	 padding-top: 20px;
 	 padding-bottom: 20px;
 	 font-weight: 530;
 	 border-bottom: 1px solid #ced0d1;
 }
 .demo3 {
 	 display: flex;
	 align-items: center;
 	 color: black;
 	 font-size: 15px;
 	 padding-top: 18px;
 	 padding-bottom: 18px;
 	 margin-left: 10px;
 	 margin-right: 10px;
 	 font-weight: 530;
 	 border-bottom: 1px solid #ced0d1;
}
 .span1 {
 	 color: #68cdd5;
 	 font-size: 15px;
 	 padding-left: 10px;
 }
 .span2 { 
     color: red;
 }
 .span3 {
 	 color: #dfdfdf;
 	 font-weight: 530;
 	 width: 75px;
 }
 .span4 {
 	 color: #dfdfdf;
 	 font-size: 18px;
 	 font-weight:200;
 }
 .span5 {
     flex: 1;
     min-width: 0;
     padding: 10px;
 }
 



	
	
	

	





 






  
