body {
	margin: 0;
	color: #ffffff;
}

  /* 顶部 */
header {
	position: fixed;
	top: 0;
	width: 100%;
	height:3.39rem;
	background-color: #68cdd5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.button-top {
	display: flex;
	align-items: center;
	justify-content: center;
}
.bin {
	width: 5.4rem;
	height: 2.4rem;
	background-color: #63a5ae;
	color: #ffffff;
	font-size: 1.08rem;
	font-weight: 300;
	border-radius: 0.36rem;
	margin-right: -0.3rem;
	border: none;
	outline: none;
}
.bin-default {
    width: 5.4rem;
	height: 2.4rem;
	background-color: #ffffff;
	color: #63a5ae;
	font-size: 1.02rem;
	font-weight: 300;
	border-radius: 0.36rem;
	margin-left: -0.3rem;
	border: none;
	outline: none;
}
.header1 {
	position: absolute;
	right: 0.6rem;
	height: 1.86rem;
	width: 1.86rem;
	border: none;
	background: url("icon.png");
	background-repeat: no-repeat;
	background-position: -1.686rem -1.686rem; 
	outline: none;
}

 /* 底部 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.6rem;
    background-color: #e5ebec;
    display: flex;
    align-items: center;
	justify-content: center;
}
.footer-div1 {
	flex: 3;
    background-color: #e5ebec;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-div2 {
	flex: 4;
    background-color: #e5ebec;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-div3 {
	flex: 3;
    background-color: #e5ebec;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.button-1 {
    display: flex;
    flex-flow: wrap;
	justify-content: flex-end;
	background-color: #e5ebec;
	border: none;
    height: 3rem;
	width: 3rem;
	outline: none;
}
.button-2 {
	display: flex;
	border: none;
	align-items: center;
	justify-content: center;
	background-color: #68cdd5;
    height: 3.15rem;
    width: 3.15rem;
	border-radius: 3rem;
	outline: none;
}
.button-3 {
    display: flex;
    flex-flow: wrap;
	justify-content: flex-start;
	background-color: #e5ebec;
	border: none;
    height: 3rem;
	width: 3rem;
	outline: none;
}
.footer-1 {
	border: none;
    background-color: #e5ebec;
    background: url("icon.png");
	background-repeat: no-repeat;
	background-position: 0 0; 
	height: 1.86rem;
	width: 1.86rem;
}
.footer-2 {
	display: block;
	width: 100%;
	font-size: 0.7rem;
	color: #68cdd5;
	text-align: right;
	margin-right: 0.1rem;
}
.footer-3 {
	border: none;
	background-color: #e5ebec;
	background: url("icon.png");
	background-repeat: no-repeat;
	background-position: 0.24rem -1.7rem; 
	height: 1.86rem;
	width: 1.86rem;
}
.footer-4 {
	border: none;
	background-color: #e5ebec;
	background: url("icon.png");
	background-repeat: no-repeat;
	background-position: -1.75rem 0.06rem; 
	height: 1.86rem;
	width: 1.86rem;
}
.footer-5 {
	display: block;
	width: 100%;
	font-size: 0.7rem;
	color: #949494;
    text-align: left;
	margin-left: 0.1rem;
}

/*头部下拉列表*/
.select {
	position: fixed;
	top: 3.39rem;
	width: 100%;
	border-bottom: 0.036rem solid #ced0d1;
	background-color: #ffffff;
}
.ul-top {
    display: flex;
    height: 3rem;
    margin: 0;
    padding: 0;
    list-style: none;
}
.li-top {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	height: 3rem;
	color: #5c5e5f;
	font-size: 0.96rem;
	border-left: 0.06rem solid #5c5e5f;
    border-right: 0.06rem solid #5c5e5f;
    border-image: linear-gradient(#fafbfb, #ced0d1, #fafbfb)1 1 1;
                   /*实现渐变效果*/
}
.ul-box {
	position: absolute;
	padding: 0;
	display: none;
	top: 3rem;
	background-color: #f9f9f9;
	min-width:100%; 
    flex-direction: column;
}
.li-box {
	line-height: 0.96rem;
	padding: 1.02rem;
	border: 0.03rem solid #ced0d1;
	list-style-type: none;
	text-align: center;
}
.li-top:hover .ul-box{
	display: block;
	color: black;
	background-color: #9adbe0;
} /*将鼠标移动到指定元素上就能看到下拉菜单*/
.ul-box:hover .li-box {
    background-color: #47949a;
    font-weight: bold;
}
.select ul li div {
    height: 0.6rem;
    width: 0.6rem;
    padding: 0;
    margin: 0;
	background: url("icon.png") no-repeat;
    /* 在选择框的最右侧中间显示小箭头图片 */
    background-position: 0 -5.4rem;
    padding-right: 0.6rem;
}
.select ul li span {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

   /* 主体部分 */
.main {
	display: flex;
	flex-direction: column;
	padding-top: 6.39rem;
	padding-bottom: 3.65rem;
}
.main-demo {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.036rem solid #ced0d1;
}
.demo1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.demo2 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.demo1-top {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.3rem 0 0.3rem;
}
.demo1-top-pic {
    background: url("icon.png") no-repeat;
    background-position:-1.74rem -3.5rem;
    height: 1.1rem;
    width: 1.1rem;
    margin-left: 0.4rem;
}
.demo1-top-text {
	font-size: 0.9rem;
	color: #ced0d1;
	padding:0.3rem 0.4rem 0.3rem;
}
.demo1-center {
	display: block;
	font-size: 0.9rem;
	color: black;
	margin-left: 1.98rem;
	padding: 0.3rem 0 0.3rem;
}
.demo1-center:hover {width:auto;}

@media screen and (max-width: 400px) {
.demo1-center {
	width: 8rem;
	overflow:hidden;/* 超出宽度部分的隐藏*/
    white-space:nowrap; /*文字不换行*/
    text-overflow:ellipsis; /*超出则...代替*/
  }
.demo2-text {
	width: 3rem;
	overflow:hidden;/* 超出宽度部分的隐藏*/
    white-space:nowrap; /*文字不换行*/
    text-overflow:ellipsis; /*超出则...代替*/
  }
}
 .demo1-bottom {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.3rem 0 0.3rem;
}
.demo1-bottom-pic {
	background: url("icon.png") no-repeat;
    background-position:0.2rem -3.5rem;
    height: 1.1rem;
    width: 1.1rem;
    margin-left: 0.4rem;
}
.demo1-bottom-text {
	font-size: 0.9rem;
	color: #ced0d1;
	padding: 0.3rem 0.4rem 0.3rem;
}
.demo2-text {
	font-size: 0.96rem;
	color: red;
}
.demo2-text:hover {width: auto;}
.demo2-alter {
	font-size: 1.68rem;
	color: #68cdd5;
	padding: 0 0.42rem 0;
}
 
	

























