@import "mixin.scss";


// 手动无缝轮播样式
.con {
    @include wh(100%,auto);
    text-align: center;
    overflow: hidden;
}
.carouselContainer {
    @include wh(100%,30vw);
    @include rel;
    overflow: hidden;
}
#carousel { 
    @include n-b(flex);
    @include wh(400%,auto);
    @include font(0,$f);
}
#carousel li {
    @include wh(100%,30vw);
    @include font(0,$f);
    @include lef;
    @include bg("img/back1.png",100%,auto,0,0);
}
.caption-text1 {
    @include n-b(inline-block);
    @include mg(12vw,0,0,0);
    @include pdg(1vw,0,1vw,0);
    @include font(3.5vw,$b);
}
.caption-text2 {
    @include n-b(inline-block);
    @include mg(0.5vw,0,0,0);
    @include pdg(0.5vw,0,0.8vw,0);
    @include font(3vw,$f);
    border-bottom: 0.05vw solid $f;
}
.arrowItems {
    @include abs(50%,auto,auto,10vw);
    @include wh(80vw,0);
    @include font(8vw,$f);
    @include row(center,space-between);
    transform: translateY(-50%);
}
.arrowItems div {
    @include rel;
    color: $rgb;
    text-align: center;
    cursor: pointer; 
}
.arrowItems div:hover {
    color: $f;
}
.dots {
    @include abs(auto,auto,0,50%);
    @include pdg(3px,3px,3px,3px);
    @include rds(10px);
    transform: translateX(-50%);
}
.dot {
    @include lef;
    @include wh(0.8vw,0.8vw);
    @include mg(0,5px,0,5px);
    @include rds(50%);
    background: $f;
}
.current {
    background: $b;
}






/* 手动点播 */
.viewover {
    @include rel;
    @include wh(100%,auto);
    overflow: hidden;
}
.nowrap {
    @include rel;
    @include wh(300vw,auto);
    overflow: hidden;
}
.nowrap li {
    @include rel;
    @include wh(100vw,auto);
    @include lef;
}
/* 单选框隐藏和替换 */
input[type="radio"] {
    @include n-b(none);
} 
input[name="slid"]+label:before {
    content: "\a0";
    /*不换行空格*/
    @include abs(auto,auto,0,auto);
    @include wh(1vw,1vw);
    @include rds(50%);
    background: $rg;
    cursor: pointer;
    z-index: 24;
}
input[name="slid"]:checked+label:before {
    content: "\a0";
    /*不换行空格*/
    @include abs(auto,auto,0,auto);
    @include wh(1vw,1vw);
    @include rds(50%);
    background: $b!important;
    cursor: pointer;
}
.viewover >label[for^="p"] {
    @include abs(auto,auto,0,auto);
    @include wh(1vw,1vw);
    @include rds(50%);
    background: $rg!important;
    cursor: pointer;
} 
/* 圆点定位 */
.viewover>label[for="p1"] {
    left: 46%;
}
  
.viewover>label[for="p2"] {
    left: 50%;
}
  
.viewover>label[for="p3"] {
    left: 54%;
}
/* 相框点击动画 */
#p1:checked ~ .nowrap {
    left: 0;
    transition: 0.6s ease-out;
}
#p2:checked ~ .nowrap {
    left: -100vw;
    transition: 0.6s ease-out;
}
#p3:checked ~ .nowrap {
    left: -200vw;
    transition: 0.6s ease-out;
}


