    @import "mixin.scss";

    body {
	    background: $ag;
    }


    /*首页*/
    @media all and (max-width: 992px) {
        .col-icon-1 {
            @include n-b(block!important);
        }
        .peo-line1,.peo-line2 {
            @include col(center,center);
            @include pdg(0,0,0!important,0);
        }
        .bottom-ul {
            @include col(flex-start,center);
        }
    }
    @media all and (max-width: 767px) {
        .big {
            @include n-b(none!important);
        }
        .small {
            @include n-b(block!important);
        }
    }
    .cer {text-align: center;}
    .le {text-align: left;}
    .bf {background-color: $f;}
    .le1 {
        @include mg(5rem,auto,auto,auto);
    }
    .le2 {
        @include mg(4rem,0,4rem,0);
        @include font(1.2rem,$b);
    }
    .le3 {
        @include pdg(10rem,0,4rem,0);
        @include font(1.2rem,$b);
    }
    .le4 {
        @include pdg(1rem,0,1rem,0);
        @include font(1.2rem,$b);
    }
    .fristrow{
        @include wh(null,12rem);
        @include pdg(0.5rem,2rem,0.5rem,2rem);
        @include font(0.8rem,$a);
    }
    .fristrow h5 {
        @extend .le4;
    }
    .row-seond {
        @include row(center,center);
    }
    .col-radius {
        @include wh(3rem,3rem);
        @include rds(50%);
        @include row(center,center);
        color: $g;
    }
    .col-text {
        @include wh(auto,4rem);
        @include font(0.7rem,$a);
        @include row(center,flex-start);
    }
    .col-icon {
        @include wh(2rem,2rem);
        @include bg("img/task8.png",auto,auto,0,-13.8rem);
    }
    .col-icon-1 {
        @include n-b(none);
        @extend .col-icon;
    }
    .col-seound {
        @include col(center,space-around);
        @include pdg(1rem,1.2rem,1rem,1.2rem);
        @include wh(auto,20rem);
        @include mg(1rem,0,1rem,0);
    }
    .col-seound h6 {
        @include font(1rem,$b);
    }
    .col-seound p {
        @include font(0.8rem,$a);
        line-height: 1.4rem;
    }
    .row-four {
        @include row(center,center);
        @include wh(null,8rem);
        @include mg(0.2rem,0.1rem,0.2rem,0.1rem);
    }
    .firstpage-bottom {
        @include mg(7rem,auto,auto,auto);
    }
    .bottom-ul {
        @include font(0.9rem,$a);
        @include n-b(flex);
        justify-content: space-around;
        list-style: square;
    }
    .bottom-ul a {
        color: $a;
        @include none;
    }
    .peo-line1,.peo-line2 {
        @include pdg(0,0,0.5rem,0);
    }
    .small {
        @include n-b(none);
    }

    
   /*推荐页*/
.seound-right {
    @include mg(0,0,12rem,0);
}
.background-2 {
    @include wh(null,15vw);
    @include bg("img/back2.png",100%,auto,0,0);
}
.seound-top {
    @include pdg(2rem,0,1rem,1rem);
}
.main-top-span1 {
    @include font(1rem,$b);
}
.main-top-span2 {
    @include font(1rem,$g);
}
.main-left {
    @include mg(1rem,0,0,0);
    @include rds(0.5rem);
	border: 0.03rem solid #c8c8c8; 
}
.main-left-top {
    @include font(1rem,$b);
    @include pdg(1.5rem,0,1.5rem,0);
	border-bottom: 0.03rem solid #c8c8c8;
}
.main-left-bottom {
    @include row(center,center);
}
.main-left-bottom ul {
    @include mg(1.2rem,0,0,0);
}
.main-left-bottom li {
    @include mg(0,0,1.2rem,0);
    @include font(0.9rem,$g);
	list-style-image: url(img/task8-15.png);
    list-style-type: none;
}
.main-left-bottom li:hover {
    @include mg(0,0,1.2rem,0);
    @include font(0.9rem,$e);
	list-style-image: url(img/task8-16.png);
    list-style-type: none;
}
.main-right {
    @include font(0.9rem,$a);
    @include mg(1rem,0,0,0);
    @include rds(0.5rem);
	border: 0.03rem solid #c8c8c8;
}
.main-right-top {
    @include pdg(1.5rem,0,0.5rem,0);
}
.main-top-left {
    @include row(center,center);
}
.main-top-right {
	@include mg(0,0,0,0);
}
.main-right-icon {
    @include wh(5rem,5rem);
	@include bg("img/task8-17.png",100%,auto,0,0);
}
.main-right-text {
    @include pdg(2rem,2.5rem,8rem,2.5rem);
	border-top: 0.03rem solid #c8c8c8;
}
.main-right-text p {
    @include pdg(0,0,1rem,0);
}
 
    
  
   /*职业页*/
@media (max-width: 350px) {
	.occupation-top-img {
        float: none!important;
        @include mg(5%,auto!important,-5%!important,auto!important);
	}
}
@media (max-width: 576px) {
    .occupation-center1,.occupation-center3 {
	    border-bottom: 0.05rem solid $a89;
	    border-right: none!important;
        margin: 0!important;
    }
    .occupation-center2 {
	    border-bottom: 0.05rem solid $a89;
        margin: 0!important;
    }
    .occupation-center4 {
        margin: 0!important;
	}
}
@media (max-width: 600px) {
    .occupation-after p {
        @include pdg(1.5rem,1rem,1.5rem,1rem);
        @include font(0.8rem,null);
        text-align: left;
    }
}
@media (max-width: 992px) {
    .threepage-line2 ul {
        @include col(null,flex-start);
    }
}
.threepage-line1 {
    @include pdg(2rem,0,2rem,0);
	@include wh(100%,auto);
	color: $b;
	font-weight: bold;
	border-bottom: 0.05rem solid $a89;
}
.threepage-line2 {
	@include wh(100%,auto);
	@include pdg(1.5rem,0,1.5rem,0);
	border-bottom: 0.05rem solid rgba(150,150,150,0.3);
}
.threepage-line2 ul {
    @include n-b(flex);
    justify-content: flex-start;
}
.threepage-line2 li {
    @include pdg(0,2rem,0,0);
	@include none;
	color: $b;
}
.threepage-line2 a {
	@include none;
	color: $b;
}
.threepage-line2 a:hover {
	color: $f;
	background: $g;
}
.main-peo {
	@include pdg(0,0,0,0);
}
.occupation-after {
    @include pdg(2rem,2rem,2rem,2rem);
    @include abs(0,0,0,0);
    @include rds(0.2rem);
	background: rgba(0,0,0,0.7);
  	color: $f;
    border: 0.05rem solid $a89;
    text-align: center;
	z-index: 1;
	transition: 1s;
	transform-style: preserve-3d;
    transition:all 2s ease-in-out;
    opacity: 0;
}
.occupation-after p {
    @include pdg(1rem,1rem,1rem,1rem);
    @include font(0.8rem,$f);
    text-align: left;
}
.threepage-occupation:hover .occupation-after {
  	transform: rotateY(360deg);
      opacity: 1;
}
.threepage-occupation {
    @include mg(3rem,0,0,0);
    @include rds(0.2rem);
    @include rel;
	background: $f;
	border: 0.05rem solid $a89;
}
.threepage-occupation-top {
	@include pdg(1rem,0,0,1rem);
	border-bottom: 0.05rem solid $a89;
}
.occupation-top-img {
    @include wh(7rem,7rem);
    @include mg(5%,5%,5%,5%);
    @include bg("img/task8-18.png",100%,auto,0,0);
	float: left;
}
.threepage-occupation-top h6 {
    @include font(0.9rem,$b);
    @include pdg(2rem,0,0.5rem,0);
    @include mg(0,0,0,0);
	text-align: center;
}
.threepage-occupation-top p {
    @include font(0.8rem,$a);
    @include pdg(0,1rem,0,1.5rem);
	text-align: center;
}
.occupation-center1 {
    @include font(0.6rem,$ag);
    @include pdg(0,0.5rem,0,0.5rem);
    @include mg(0,-1rem,0,0);
    @include row(center,space-between);
    @include wh(auto,2rem);
	border-right: 0.05rem solid $a89;
	border-bottom: 0.05rem solid $a89;
}
.occupation-center2 {
    @include font(0.6rem,$ag);
    @include pdg(0,0.5rem,0,0.5rem);
    @include mg(0,0,0,-1rem);
    @include row(center,space-between);
    @include wh(auto,2rem);
	border-bottom: 0.05rem solid $a89;
}
.occupation-center3 {
    @include font(0.6rem,$ag);
    @include pdg(0,0.5rem,0,0.5rem);
    @include mg(0,-1rem,0,0);
    @include row(center,space-between);
    @include wh(auto,2rem);
	border-right: 0.03rem solid $a89;
}
.occupation-center4 {
    @include font(0.6rem,$ag);
    @include pdg(0,0.5rem,0,0.5rem);
    @include mg(0,0,0,-1rem);
    @include row(center,space-between);
    @include wh(auto,2rem);
}
.occupation-bottom1 {
	@include font(0.6rem,$ag);
	@include wh(auto,100%);
	@include row(center,center);
	border-top: 0.05rem solid $a89;
	border-right: 0.05rem solid $a89;
}
.occupation-bottom2 {
    @include font(0.6rem,$b);
    @include pdg(0.5rem,0.5rem,0.5rem,1rem);
    @include row(center,space-between);
	border-top: 0.05rem solid $a89;
}
.occupation-bottom3 {
    @include font(0.7rem,$b);
    @include pdg(0.5rem,0,0.5rem,1rem);
	text-align: left;
	font-weight: bold;
	border-top: 0.05rem solid $a89;
}
.down {
	@include wh(100%,12rem);
}
.m-content {
	@include col(null,null);
}
.left {
    @include pdg(0,15px,0,0);
}
.rgt {
    @include pdg(0,0,0,15px);
}
.top {
    @include pdg(1rem,0,0,0);
}
.rig {
    @include wh(100%!important,auto);
    @include pdg(0,0,0,0);
}  




    /*脚部*/
    @media all and (max-width: 992px) {
        .firstpage-footer-end,
        .firstpage-footer-frist {
	    @include col(center!important,center);
        } 
    }
    .firstpage-footer {
        background: $g;
    }
    .firstpage-footer-frist {
        @include wh(auto,100%);
        @include col(flex-start,space-around);
        @include font(0.8rem,$f);
	    @include pdg(1rem,0,1rem,0);
    }
    .firstpage-footer-end {
        @include col(flex-end,flex-end);
        @include font(0.8rem,$f);
	    @include pdg(1rem,0,1rem,0);
    }
    .le5 {
        @include font(0.8rem,$f);
	    @include pdg(0.3rem,0,0.3rem,0);
	    background: $g;
	    border-top: 0.05rem solid #09ff99;
}
    .firstpage-footer a {
	    color: $f;
        @include none;
}
/* hover 下划线效果 */
.demo1{
    @include rel;
    @include font(0.9rem,$b);
    @include none;
}
.demo1:before{
    @include abs(auto,auto,-2px,50%);
    content: "";
    @include wh(0,2px);
    background: $b;
    transition: all .3s;
}
.demo1:hover:before{
    @include wh(100%,null);
    left: 0;
    right: 0;
}