
        /*首页page1*/
.body1 {
	color: #ffffff;
	margin: 0;
	padding: 0;
	background-color: #dadada;
}
.page1-header {
	position: fixed;
	height: 5rem;
	width: 100%;
	background-color: #01bad8;
}
.page1-header-button {
    position: absolute;
    top: 1.2rem;
	height: 3rem;
	width: 3rem;
	border: none;
	outline: none;
	background: url("icon.png") no-repeat 0.5rem 0; 
	background-size: 30rem 70rem; 
}
.page1-main {
	position: fixed;
	top: 5rem;
	width: 100%;
	background-color: #dadada;
}
.main-top {
	padding: 1.5rem 0 1.5rem;
	margin: 1rem auto 1rem;
	width: 90%;
	border: 0.06rem solid #a0a0a0;
	background-color: #ffffff;
    font-size: 2.5rem;
    color: #a0a0a0;
    text-align: center;
    position: relative;
}
@media screen and (max-width: 400px) {
    .main-top {
    	font-size: 2rem;
    	padding: 1.75rem 0 1.75rem;
    }
}
.main-top-pic {
	position: absolute;
	top: 1.5rem;
	right:0.5rem;
	bottom: 1.7rem;
	width: 2rem;
	background: url("icon.png") no-repeat 0 -3.5rem;
	background-size: 26rem 64rem; 
}
.main-bottom-top {
	padding: 1.5rem 0 1.5rem;
	font-size: 2.5rem;
    color: #ffc107;
    border-bottom: 0.06rem solid #ffc107;
}
.main-bottom-div {
	position: absolute;
	padding: 13.5rem 0 2rem;
	width: 100%;
	z-index: -1;
}
.main-bottom-column {
	width: 90%;
	margin: 0 auto 0;
	background-color: #ffffff;
	text-align: center;
	position: relative;
	border: 0.06rem solid #a2a2a2;
}
.window-center {
	position: absolute; 
	right: 3%;
	top: 19rem;
	width: 3rem;
	height: 6rem;
	background: url("icon.png") no-repeat 0 -8rem;
	background-size: 36rem 76rem;
}
.main-bottom-button {
	width: 75%;
	font-size: 2.5rem;
	margin-top: 1.3rem;
	padding: 1.5rem 0 1.5rem;
	background-color: #01bad8;
	border: none;
	outline: none;
}
.main-bottom-text {
	color: #a0a0a0;
	margin-top: 1.3rem;
}
.main-bottom-radio {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
}
.checker-div {
	width: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.page1-span1 {
	display:inline-block;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 0.4rem;
	background-color: #dadada;
}
.page1-span2 {
	display:inline-block;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 0.4rem;
	background-color: #01bad8;
	position: absolute;
	top: 0;
	left: 0;
}
.page1-span1:hover {
	background-color: #01bad8;	
}
.checker-div:hover .page1-span2 {
	display: none;
}
























/*投票页page2*/
.body2 {
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #01bad8;
}
.page2-header {
	position: fixed;
	width: 100%;
	font-size: 2.7rem;
	padding: 1.5rem;
	text-align: center;
	background-color: #01bad8;
}
.page2-header-button1 {
	position: absolute;
	left: 0;
	height: 3.5rem;
	width: 4rem;
	background: url("icon.png") no-repeat  0.3rem -16.5rem;
	background-size: 35rem 73rem;
	border: none;
	outline: none;
}
.page2-header-button2 {
	position: absolute;
	right: 0;
	height:3.5rem;
	width: 4rem;
	background: url("icon.png") no-repeat 0.7rem -20rem;
	background-size: 35rem 73rem;
	border: none;
	outline: none;
}
.page2-audio {
	position: fixed;
	top: 6rem;
	height: 5.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #01bad8;
}
.page2-audio-opacity {
	position: absolute;
	height: 5.5rem;
	width: 100%;
    opacity: 0.6;  
    background-color: #ffffff;
    z-index: -1;
}
.page2-audio-span {
	margin-left: 4rem;
	font-size: 1.7rem;
	color: black;
}
.page2-audio-button {
    position: absolute;
    bottom: 0.7rem;
    right: 0.6rem;
	height: 4.4rem;
	width: 4.4rem;
	border-radius: 2.2rem;
	background-color: #e0bb02;
	border: none;
	outline: none;
}
audio {
	position: absolute;
	top: 0;
	left: 0;
	width: 10rem;
	height: 4.5rem;
    opacity: 0;
}
.page2-audio-button-div {
	position: absolute;
	top: 0.7rem;
	left:1rem;
    height: 3rem;
	width: 3rem;
	background: url("icon.png") no-repeat 0.3rem -24.3rem;
	background-size: 35rem 73rem;
}
.page2-hint {
	position: fixed;
	top: 11.3rem;
	width: 100%;
	height: 4.5rem;
	background-color: #01bad8;
}
.page2-hint-top {
	position: absolute;
	left: 4rem;
    height: 1.5rem;
    width: 2rem;
    background: url("icon.png") no-repeat 0.2rem -35rem;
}
.page2-hint-text {
    font-size: 1.7rem;
    position: absolute;
    left: 5rem;
    top: 1.2rem;
}
.page2-main {
	position: absolute;
	width: 100%;
	padding: 15rem 0 12rem;
    z-index: -1;  
}
.col {
	width: 21.3%;
	margin: 6%;
	border: 0.3rem solid #fff;
	text-align: center;
	position: relative;
	float: left;
}
.col-text {
    font-size: 1.7rem;
    padding: 18% 0 18%;
    color: black;
    font-weight: bold;
    background-color: #e0bb02;    
}
.col-mun {
	font-size: 1.2rem;
	background-color: #00877b;
}
@media screen and (min-width: 370px) and (max-width: 550px) {
   .col-text {
      font-size: 2rem; 
      padding: 18% 0 18%; 
  } 
}
@media screen and (min-width: 550px) and (max-width: 700px) {
   .col-text {
      font-size: 2.5rem; 
      padding: 20% 0 20%; 
  }
}
@media screen and (min-width: 700px) {
   .col-text {
      font-size: 3.5rem; 
      padding: 24% 0 24%; 
  }
   .col-mun {
	  font-size: 2rem;
	  padding: 5%;
  } 
}
.col-box {
	position: absolute;
	left: -4%;
	height: 40%;
	width: 110%;
	padding-top: 1rem;
	display: none;
}
.col-box-pic1 {
	position: absolute;
	left: -4%;
	height: 100%;
	width: 24%;
	background: url("icon_1.png") no-repeat;
	background-size: 100% ;
}
.col-box-pic2 {
	position: absolute;
	left: 23.5%;
	height: 100%;
	width: 24%;
	background: url("icon_2.png") no-repeat; 
	background-size: 100% ;
}
.col-box-pic3 {
	position: absolute;
	left: 51.5%;
	height: 100%;
	width: 24%;
	background: url("icon_3.png") no-repeat;
	background-size: 100% ; 
}
.col-box-pic4 {
	position: absolute;
	left: 79%;
	height: 100%;
	width: 25%;
	background: url("icon_4.png") no-repeat;
	background-size: 100% ;
}
.col:hover .col-box {
	display: block;
}
.page2-footer {
	position: fixed;
	bottom: 0;
	height: 10rem;
	width: 100%;
	background-color: #01bad8;	
}
.page2-footer-botton {
	position: absolute;
    top: 2rem;
    left: 10%;
    width: 80%;
    height: 7rem;
    font-size: 3rem;
    background-color: #e0bb02;
    border: none;
    outline: none; 
}





























/*尾页page3*/
.body3 {
	margin: 0;
	padding: 0;
	color: #ffffff;	
}
.page3-header {
	position: fixed;
	width: 100%;
	font-size: 3rem;
	padding-top: 1.3rem;
	text-align: center;
	background-color: #01bad8;
	border-bottom: 0.1rem solid rgba(255,255,255,0.3);
}
.page3-header-button1 {
	position: absolute;
	left: 0.4rem;
	height: 4rem;
	width: 4rem;
	background: url("icon.png") no-repeat 0 -48rem;
	background-size: 38rem 75rem;
	border: none;
	outline: none;
}
.page3-header-button2 {
	position: absolute;
	right: 0;
	height: 4rem;
	width: 4rem;
	background: url("icon.png") no-repeat 0.5rem -43.5rem;
	background-size: 39rem 75rem;
	border: none;
	outline: none;
}
.page3-main {
	padding-top: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #01bad8;
}
.page3-main-pic {
	height: 17rem;
	width: 27rem;
	background: url("icon.png") no-repeat 0 -52rem;
	background-size: 38rem 75rem;
}
.page3-main-text {
	font-size: 2rem;
	color: #e0bb02;
	width: 75%;
}
.page3-take {
	background: #fff;
	border-bottom: 0.1rem solid #dadada;
}
.page3-day {
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: space-between;
}
.page3-day-top {
	padding: 0 0 1rem;
	 font-size: 2rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page3-day-top-time {
	font-size: 1rem;
	color: #dadada;
}
.page3-day-top-text {
	font-size: 1.5rem;
	color: #dadada;
}
.page3-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10rem;
	background-color: rgba(1,186,216,0.4);
}
.page3-footer-botton1 {
	position: absolute;
    top: 2rem;
    left: 3%;
    height: 7rem;
    width: 43.5%;
    font-size: 2.5rem;
    border-radius: 1rem;
    background: red;
    border: none;
    outline: none;
}   
.page3-footer-botton2 {
	position: absolute;
    top: 2rem;
    right: 3%;
    height: 7rem;
    width: 43.5%;
    border-radius: 1rem;
    font-size: 2.3rem;
    background: #e0bb02;
    border: none;
    outline: none;  
}  
table {
	border: none;
	width: 75%;
	font-size: 1.5rem;
	margin-top: 1rem;
}
tr {
	display: flex;
	justify-content: space-between;
} 